*.class

# Because workspace.xml caused problems
*.xml
*.idea
*.idea/workspace.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# The file server is an experimental folder and shouldn't be shared
FileServer/

src/model/DatabaseConnection.java
